<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="stylesheets/UI.css" />
    <script
      src="https://kit.fontawesome.com/2628447209.js"
      crossorigin="anonymous"
    ></script>
    <title>PMS welcome</title>
  <body class="PMS">
    <main class="index__main">
      <header class="PMS_Header_UI">
        <div class="Header__Users">
          <a href="" class="logOut navBtn"><i class="fas fa-sync"></i></a>
          <a href="" class="menu navBtn"><i class="fas fa-bars"></i></a>
        </div>
        <div class="Header__Btns UI">
          <a href="enterCar_UI" class="Enter navBtn">▶ 입차</a>
          <a href="payFee_UI" class="Calculate navBtn">▶ 정산</a>
          <a href="exitCar_UI" class="Exit navBtn">▶ 출차</a>
        </div>
        <div class="js-clock">
          <h1></h1>
        </div>
      </header>
      <h1 class="title">
        <span>Parking</span><span> Management</span> <span> System</span>
      </h1>
      <div class="index_UI">
        <a href="enterCar_UI" class="Enter UI_Btn">▶ 입차</a>
        <a href="payFee_UI" class="Calculate UI_Btn">▶ 정산</a>
        <a href="exitCar_UI" class="Exit UI_Btn">▶ 출차</a>
      </div>
      <a href="parking" class="Admin">ADMIN 으로 입장</a>
    </main>
    <footer class="PMS_Footer UI">by JHLee </footer>
    <script src="javascripts/admin.js"></script>
    <script src="javascripts/clock.js"></script>
  </body>
</html>
