<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>Search</title>
  </head>
  <body class="PMS">
    <header class="PMS_Header">
      <div class="Header__Users">
        <a class="menu navBtn">Menus</a>
        <a href="index" class="logOut navBtn">Log Out</a>
      </div>
      <div class="Header__Btns">
        <a
          onclick="window.open('enterCar','EnterCar','width=480,height=280,location=no,status=no,scrollbars=no,toolbar=no,menubar=no,resizable=no,titlebar=no');"
          target="blank"
          class="enterCar navBtn"
          >Enter Car</a
        >
        <a
          onclick="window.open('payFee','PayFee','width=480,height=280,location=no,status=no,scrollbars=no,toolbar=no,menubar=no,resizable=no,titlebar=no');"
          target="blank"
          class="payFee navBtn"
          >Pay Fee</a
        >
        <a
          onclick="window.open('exitCar','ExitCar','width=480,height=280,location=no,status=no,scrollbars=no,toolbar=no,menubar=no,resizable=no,titlebar=no,top='+(screen.height/2-140)+',left='+(screen.width/2-240)+'');"
          target="blank"
          class="exitCar navBtn"
          >Exit Car</a
        >
        <a href="search" class="search navBtn">Search</a>
        <a href="index" class="logOut navBtn">Log Out</a>
      </div>
      <a href="parking" class="Header__welcome">
        <span class="username">Noname</span>
        <span class="welcome">'s 주차장</span>
      </a>
    </header>
    <main class="PMS_enterCar">
      <h1 class="title">
        <span>검색할</span><span> 차량의 번호를</span> <span> 입력하세요</span>
      </h1>

      <input type="text" class="carNumInput" placeholder="차량번호 입력" />

      <div class="Btns">
        <a class="submit Btn">검색</a>
        <a href="/parking" class="back Btn">취소</a>
      </div>
    </main>
    <table class="main_table">
      <tr></tr>
    </table>

    <footer class="PMS_Footer">
      <span></span>
      <span>90Fac</span>
      <span></span>
    </footer>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/search.js"></script>
  </body>
</html>
